h1 {
  color: blue;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  height: 25%;
  padding: 10px;
}

#column-A {
  background-color:rgb(170, 128, 128);
  float: center;
}

#column-B {
  background-color:rgb(145, 122, 211);
  float: center
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
