h1 {
  color: rgb(251, 255, 1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
}

#profile_picture {
  float: center;
  width: 25%;
  height: 25%;
  padding-top: 30px;
  padding-bottom: 50px;
}

h2 {
  color: rgb(251, 255, 1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
}

h3 {
  color: rgb(251, 255, 1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

p {
  font-size: 15px;
  color: rgb(130, 199, 134);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

.row {
  background-color: rgba(190, 93, 58, 0.397);
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

p.column {
  font-size: 5px;
  color: rgb(130, 199, 134);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#column-A {
  float: center;
  width: 30%
}

#column-B {
  float: center;
  width: 40%;
}

#column-C {
  float: center;
  width: 30%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

ol.v {
  list-style-type: circle;
  text-align: center;
  list-style-position: inside;
  size: 3px;
  color: rgb(130, 199, 134);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  text-align: center;
  size: 10px;
}

/* @media screen and (min-width: 300px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
} */

/* @media screen and (max-width: 700px) {
  .column {
    width: 700px;
    float: left;
    padding: 20px;
  }
} */
